<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="container">
        <header class="header">Header</header>
        <nav>
                <ul>
                  <li><a href="#">Home</a></li>
                  
                  <li>
                    <a href="#">About</a>
                  </li>
                  <li>
                    <a href="#">Services</a>
                  </li>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                </ul>
              </nav>
        <div class="image">
            <img src="../img/Chrysanthemum.jpg" alt="Not Found">
            <div class="center">
                <h3>Centered</h3>
            </div>
        </div>
        <div class="content">
            <article class="main">
                <p>Hello</p>
              </article>
              <aside class="aside aside-1">Aside 1</aside>
              <aside class="aside aside-2">Aside 2</aside>
        </div>
            <section id="lab_social_icon_footer">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
            </section>
      </div>
</body>
</html>