.hero img{
    width:100%;
    height: auto;
}
aside img, section img{
    width: 80%;
    height: auto;
}
#social_icon_footer {
    padding: 14px 0;
  }
#social_icon_footer .social:hover {
    transform: scale(1.1);
  }
footer a{
    display: inline;
    padding:10px 0;
} 
#social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
#social_icon_footer a {
    color: #333;
  }
#social_icon_footer #social-fb:hover {
    color: #3B5998;
    box-shadow: none;
  }
#social_icon_footer #social-tw:hover {
    color: #4099FF;
    box-shadow: none;
  }
#social_icon_footer #social-gp:hover {
    color: #d34836;
    box-shadow: none;
  }
#social_icon_footer #social-em:hover {
    color: #f39c12;
    box-shadow: none;
  }
@media(max-width:800px){
    .three-rows{
        padding:1px;
    }
    blockquote{
        border:none;
    }
}
@media(max-width:700px){
    .three-column{
        flex-direction: column;
        margin-left: 0px;
    }
    .two-column{
        flex-direction: column;
    }
    .navbar{
        background-image: linear-gradient(to  bottom , #8e44ad, #3498db, #8e44ad);
    }
    .aside1, .content, .aside2{
        width:100%;
    }
    aside img, section img{
        width: 100%;  
    }
    iframe{
        height:25vh;
        padding: 0%;
    }
    .three-rows{
      padding-left: 25%;
    }
    .container #text{
        font-size: 30px;
    }
    .form{
        width:95vw;
        margin-top: 5px;
        height: auto;
    }
    button{
        width:47.5vw;
    }
    h1{
      font-size: 30px;
      margin:5px;
      line-height: 0px;
      margin-top: 10px;
      margin-bottom: 15px;
    }
}
@media(max-width:462px){
    .navbar{
        display: none;
    }
    .hero{
        margin-top: 0px;
    }
    h1{
        font-size: 20px;
    }
}
@media(max-width:262px){
    h1{
        font-size: 10px;
    }
}

