@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-image: linear-gradient(to  bottom , #8e44ad, #3498db, #8e44ad);
    margin: 0%;
  } 
  .container{
    display: flex;  
    flex-flow: column;
    font-weight: bold;
    text-align: center;
    position: relative;
  }
  .footer{
    height: 10vh;
    padding: 30px;
  }
  nav {
    width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
  }
  nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6); 
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
  }  
  .navimage{
    height: 30px;
    align-items: initial;
  } 

  .main {
    text-align: left;
    width: 80%;
    height: 80vh;
    order:2;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .main img{
    margin-top: 20px;
  }
  .aside-1 {
    height: 80vh;
    width: 10%;
    order: 1;
  }
  .aside-2 {
    height: 80vh;
    width: 10%;
    order: 3;
  }
  .content{
    display: flex;
    flex-direction:row;
  }
  .image{
    position: relative;
  }
  .center {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
  .center h3{
    font-family: 'Cookie', cursive;
    color:whitesmoke;
  }
  .gallery, .bestfriends{
    display: flex;
    padding: 20px;
  }
  .image img{
    margin-top: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    width: 100%;
    height:50%;
  }
  #social_icon_footer {
    padding: 14px 0;
  }
  #social_icon_footer .social:hover {
    transform: scale(1.1);
  }
  
  #social_icon_footer .social {
    transform: scale(0.8);
    transition-duration: 0.5s;
  }
  #social_icon_footer a {
    color: #333;
  }
  #social_icon_footer #social-fb:hover {
    color: #3B5998;
  }
  #social_icon_footer #social-tw:hover {
    color: #4099FF;
  }
  #social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  #social_icon_footer #social-em:hover {
    color: #f39c12;
  }
  

.form {
  height: 590px;
  width: 400px;
  background-color: rebeccapurple;
  margin: 110px auto;
  margin-bottom: 45px;
  border-radius: 10px;
  color: #1a1a1a;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.info {
  padding: 10px;
}

.form h1, h2, p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

.form h2 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

.form p.line {
  margin: 0px auto 20px auto;
  color: #1a1a1a;
}

.form input {
  font-size: 15px;
  color: #1a1a1a;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
}

input:focus {
  outline: 0;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #999;
  background-color: #330C2F;
  border: none;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto; 
  float:left;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #B7C0EE;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #B7C0EE;
  transition: .5s;
}

button:focus {
  outline: 0;
}
  /*
  Media Queries for Responsive Design
  */
  @media(max-width: 600px){
      .navbar{
          display:inline;
      }
      .image img{
        width: 80%;
        padding-left: 10px;
        margin-top: 115px;
      }
      .center{
        padding-right: 50px;
      }
      .content{
        margin-top: 40px;
        height:400px;
      }
      video{
        object-fit: fill;
        width:420px;
        height:400px;
      }
      .content h2{
        padding-top: 75px;
        line-height: 02;
      }
      .gallery {
          height: auto;
          padding-top:10px;
      }
      .gallery .main{
        height: auto;
      }
      .bestfriends {
        height: auto;
      }
      .bestfriends .main{
        height: auto;
      }
      .bestfriends h2{
        line-height: 03;
      }
      .aside-2{
        display: none;
      }
  }
  @media(max-width:414){
    .navbar{
      display:none;
    }
    .aside-1 h2{
      display: none;
    }
    .image{
      padding-bottom: 10px;
    }
    .image img{
      margin-top: 10px;
      margin-left:27px;
    }
    .center{
      font-size: 10px;
    }
    .content{
      height: 200px;
      padding-top: 10px;
    }
    .gallery .main{
      flex-wrap: wrap-reverse;
    }
    video{
      margin: 0px;
      padding: 0px;
      width:230px;
      height:200px;
    }
  }
  @media(max-width: 320px){
    .navbar{
      display:none;
    }
    .aside-1 h2{
      display: none;
    }
    .image{
      padding-bottom: 10px;
    }
    .image img{
      margin-top: 10px;
      margin-left:27px;
      margin-right: 22px;
      padding-left: 0px;
    }
    .center{
      font-size: 10px;
    }
    .content{
      margin-top: 0px;
      height: 200px;
      padding-top: 10px;
    }
    .gallery{
      padding-right: 35px;
      padding-left:10px;
    }
    .gallery .main{
      flex-wrap: wrap-reverse; 
    }
    .bestfriends{
      padding-top: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }
    video{
      margin: 0px;
      padding: 0px;
      padding-right: 10px;
      width:230px;
      height:200px;
    }
    .footer{
      padding-right: 10px;
    }
  }
  @media(max-width:414){
    .navbar{
      display:none;
    }
    .aside-1 h2{
      display: none;
    }
    .image{
      padding-bottom: 10px;
    }
    .image img{
      margin-top: 10px;
      margin-left:27px;
    }
    .center{
      font-size: 10px;
    }
    .content{
      height: 200px;
      padding-top: 10px;
    }
    .gallery .main{
      flex-wrap: wrap-reverse;
    }
    video{
      margin: 0px;
      padding: 0px;
      width:230px;
      height:200px;
    }
  }